
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #e0e0e0;
  padding: 2em;
  text-align: center;
}

.subtitle {
  font-style: italic;
  color: #777;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #ccc;
  margin: 0;
  padding: 0.5em 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 2em;
}

footer {
  background: #e0e0e0;
  text-align: center;
  padding: 1em;
}
